/* Color Libraty
#D2B48C (tan)
#F08080 (coral) with #FFFFFF (white) or #696969 (silver) text
#FFFF99 (yellow) with #696969 (silver) or #F08080 (coral) text   */

body {
	background-color:#D2B48C;
   margin:0 auto;
}

table {
   border: solid white;
   background-color: white;
   border-collapse: separate;
   border-spacing: 3px;
   margin:0 auto;
}

th {
    background-color: #FFFF99;
    color: #696969;
}
h1{
   text-align: center;
}
td {
    background-color: #F08080;
    color: #FFFFFF;
}
form{
       background-color: #FFFFFF;
       border: solid black 1px;
       width: 30%;
       text-align: center;
       margin:0 auto;      
}

a{
   color: #696969;
}

div{
   text-align: center;
}

.index{
    text-align: center;
    font-size: 2.75em;
}

label {
    display: inline-block;
    float: left;
    clear: left;
    width: 200px;
    text-align: right;
}

